@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&display=swap');

/*  */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

@import "tailwindcss";


@theme{
  /* --color-primary: #DC143C; */
  --color-primary: #C6B585;
  --color-primary-alt: #C6AE6B;
  --color-dark: #1D1D1D;


  --font-body: "Work Sans", sans-serif;
  /* --font-display: "Cormorant Garamond", serif; */
  /* --font-display: "Cormorant SC", serif; */
  /* --font-display: "Baskervville", serif; */
}

@utility container {
  margin-inline: auto;
  padding-inline: 16px;
  /* background: red; */
  max-width: 1920px;
}


html{
  scroll-behavior: smooth !important;
}

body{
  font-family: "Playwrite GB S", cursive;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-dark);
}
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  /* background-color: red; */
  border-radius: 4px;
}
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */



/* Add to your index.css or global styles */
/* * {
  cursor: auto;
} */
/* 
.custom-cursor {
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: white;
  border-radius: 9999px;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  will-change: transform;
  opacity: 0;
}

.custom-cursor.visible {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

@media (hover: hover) {
  [data-cursor="true"]:hover {
    cursor: none !important;
  }
} */